html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(88, 116, 255, 0.5),
    rgba(2, 1, 18, 0.9)
  );

  overflow-x: hidden; /* Prevent horizontal scroll on the whole page */
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(2, 1, 18);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(145, 158, 222, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(145, 158, 222, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #1b1a2ea9;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
}

.navbar {
  position: fixed;
  transition: all 0.3s ease-out 0s;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
}

.navbar-toggler {
  position: relative;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler span {
  display: block;
  background-color: #777bb8;
  height: 4px;
  width: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-link {
  padding: 0.8rem 1rem;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #0a0230;
  bottom: 1px;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.apply-now-button{
  margin-top: 8px;
}

/* --------- */
/* Home section */
/* --------- */

.home-header {
  padding-top: 80px;
}

.home-section {
  position: relative; 
  z-index: 1;
  background-image: var(--section-background-color);
  padding-bottom: 30px;
  padding-top: 30px;
}

.home-content {
  padding: 9rem 0 2rem;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em;
  padding-left: 45px;
}

.heading-name {
  font-size: 1.5em;
  padding-left: 45px;
}

.picture {
  margin-top: 50px;
  padding-left: 50px;
}

.list {
  font-size: 1.5em;
  margin-left: 75px;
}

.buttonstyle {
  background-color:rgba(88, 114, 215, 0.5);
  color: white;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin-left: 60px;
}

/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
  background-image: var(--section-background-color);
  color: white;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0;
  }
}

.left {
  text-align: left;
}

/* --------- */
/* Plans */
/* --------- */
.plan-section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
  background-image: var(--section-background-color);
}

.plan-card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
}

.plan-card-view {
  box-shadow: 0 4px 5px 3px rgba(249, 247, 250, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.plan-card-view:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(249, 248, 249, 0.561);
}

.btn-primary {
  color: #fff !important;
  background-color: #28298b !important;
  border-color: #000000 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #060536d7 !important;
  border-color: #000000d7 !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.plan-heading {
  color: white;
  font-size: 2.3em;
  font-weight: 500;
  padding-top: 10px;
}

/* --------- */
/* Testimonials */
/* --------- */

.testimonials-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 30px;
  background-image: var(--section-background-color);
  color: white;
}

.testimonials-card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
}

.testimonials-card-view {
  box-shadow: 0 4px 5px 3px rgba(245, 242, 245, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s;
  height: 100% !important;
}
.testimonials-card-view:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(243, 241, 244, 0.561);
}

.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}


/* --------- */
/* Application */
/* --------- */

.application {
  padding-top: 100px;
  background-color: var(--section-background-color);
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: #020112a9;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 8px ;
}
.footer-copywrite {
  text-align: center;
  color: white;
}

.footer-body {
  z-index: 1;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-copywrite {
    text-align: center;
  }

  .footer-body {
    text-align: center;
  }
}

.footer h3 {
  font-size: 1em;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.footer-icons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 30px;
}